.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	flex-direction: column;
	justify-content: space-around;
	min-height: 61vh;
}

.body {
	min-height: 61vh;
}

.form {
	text-align: center;
	width: 530px;
	position: relative;
}

.name_block {
	width: 100%;
}

.input {
	width: 100%;
	background: #000;
	outline: none;
	border: none;
	padding: 14px 15px;
	color: white;
	border-radius: 5px;
	font-size: 14px;
}

.description {
	height: 120px;
}

.block {
	margin-bottom: 20px;
}

.button {
	color: white;
	background: #BE4B6DFF;
	border: none;
	outline: none;
	padding: 14px 35px;
	margin-top: 60px;
	border-radius: 5px
}

.rightButton:hover {
	background: #C46380FF;
	cursor: pointer;
}

.leftButton:hover {
	background: #79AA45FF;
	cursor: pointer;
}

.title {
	text-align: left;	
	margin-bottom: -200px;
	font-size: 26px;
	position: relative;
	left: 15px;
}

.buttons {
	display: flex;
	justify-content: center;
}

.leftButton {
	margin-right: 30px;
	background: #3BAA1CFF;
}

.loader {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: -6px;
	left: 10px;
}

.modal_succes {
	text-align: center;
	font-size: 22px;
	color: #0BC05F;
}

@media(max-width: 600px) {
	.form {
	width: 300px;
	margin-right: 26px;
	}

	.buttons {
		text-align: center;
		padding-left: 6px;
		margin-right: -14px;
	}
	.title {
		font-size: 14px;
		margin-right: 27px;
	}
	.description {
		height: 100px;
	}
	.loader {
		bottom: -60px;
	}
}

@media(max-height: 850px) {
	.description {
		margin-top: 20px;
	}
}
